<div class="background">
  <div class="transbox">
    <h1 >Burgers!</h1>
    <div style="margin:auto;">
    <h2 style="width:100%;text-align:center;">Add a Burger</h2>
    <form class="create-form">

      <div style="margin-left:auto;margin-right:auto; text-align:center;" class="form-group" name="devoured" value=0>
        <label style="margin-left:auto;margin-right:auto;" for="ca">Burger Name:</label>

        <input tyle="margin-left:auto;margin-right:auto;" type="text" id="ca" name="name">


      <button type="submit">Add Burger</button>
            </div>
    </form>

  </div>
   <div style="width:45%;float:left">
    <h2>Burgers that are not devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>

   </div>
   <div style="width:45%; float:left">
    <h2>Burgers that are devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
   </div>

  </div>
</div>

